.header_gap {
    padding: 15px 0px;
}

ul.navbar-nav.mr-auto li a {
    padding: 7px 22px !important;
    margin-right: 2px;
    font-weight: 500;
    border: 3px solid;
    border-color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link a:active {
	border-bottom: 3px solid;
    color: #58a9dd;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link a{
	border-bottom: 3px solid;
    color: #58a9dd;
}
.menu_header {
    padding: 5px 0;
}
.slider_button a:hover {
    background-color: #58a9dd;
    color: #fff;
    border: 1px solid #58a9dd;
}
.slider_button a {
    padding: 8px 30px;
    background-color: #fff;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid #58a9dd;
}
.float-right h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.33;
    font-family: Merriweather, serif;
    letter-spacing: 0.025em;
    text-align: inherit;
    color: #2d2e33;
}
.float-right p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.002em;
    text-align: left;
    color: #aaaaaa;
}
.float-right {
    margin-top: 50%;
}

.slider_left {
    background: #fafafc;
}
.gift_part1 {
    background-image: url(/images/number-1.png);
    background-repeat: no-repeat;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 0px 0px;
}
.gift_part2 {
    background-image: url(/images/number-2.png);
    background-repeat: no-repeat;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 0px 0px;
}
.gift_part3 {
    background-image: url(/images/number-3.png);
    background-repeat: no-repeat;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 0px 0px;
}
.about_desc {
    text-align: center;
    border: 2px solid #ededed;
    border-width: 3px 3px 3px 3px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 0px;
    padding: 100px 80px
}
.about_desc p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.002em;
    text-align: left;
    color: #aaaaaa;
    text-align: center;
    padding: 30px 0;
}
.about_image1{
    background-image: url(/images/image-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    height: 700px;
}
.about_image_text{
	position: relative;
	    font-family: "Merriweather", Sans-serif;
    font-size: 24px;
    text-align: center;
    color: #000000;
}
.desc_about{
	color: #2d2e33;
    font-family: "Merriweather", Sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}
.text_color_box {
    background: #fff;
    display: inline-block;
    padding: 19px 100px;
    margin-top: 80%;
    box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.5);
}
.modify_about {
    margin-top: -120px;
}
.container.image_packet {
    background-image: url(/images/image-5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 50px 0px 50px;
}
section.packet_part {
    padding: 40px 0px;
}
.about_image2 {
    background-image: url(/images/image-4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    height: 697px;
}
.company_overview h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.15em;
    text-align: inherit;
    color: #2d2e33;
    text-align: center;
}
.company_overview p{
	color: #2d2e33;
    font-family: "Merriweather", Sans-serif;
    font-style: italic;
	font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.002em;
	text-align: center;
}
.company_overview_desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.002em;
    color: #aaaaaa;
    text-align: justify !important;
    text-align: center;
    padding: 30px 0;
}
.exclusive_elements {
    text-align: center;
    padding: 20px 69px;
}
.exclusive_elements h3 {
    color: #58a9dd;
    font-family: "Merriweather", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    padding: 10px 0;
}
span.gift_icon {
    color: #58a9dd;
    font-size: 20px;
}

.counter {
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 70px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #58a9dd;
    font-family: "Merriweather", Sans-serif;

}

.count-text {
    font-weight: normal;
    margin-top: 10px;
    font-weight: 600 !important;
    margin-bottom: 0;
    text-align: center;
    font-style: inherit !important;
    color: #58a9dd !important;
    font-family: "Merriweather", Sans-serif !important;
    font-size: 18px !important;
}

.row.text-center {
    border: solid #ededed;
    border-width: 3px 3px 3px 3px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-bottom: -12px;
    padding: 0px 0px 30px 0px;
}
.company_overview {
    border: solid #ededed;
    border-width: 3px 3px 3px 3px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 58px;
    margin-bottom: 50px;
}
.banner_hover:hover {
    border: 3px solid #000000;
    transition: border-width 0.2s linear;
}
.banner_hover img {
    max-width: 100%;
    padding: 10px;
}
.banner_hover{
	text-align: center;
}
.product_shop {
    padding: 50px 0 0 0;
}
.product_items_details h3 a{
	font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.025em;
    text-align: inherit;
    color: #2d2e33;
    text-decoration: none;
}
.product_items_details h3 a:hover{
	color: #58a9dd;
	}

	body {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.002em;
    text-align: left;
    color: #aaaaaa;
}
.product_items_image img {
    max-width: 100%;
    padding: 10px 0;
}
.main_text_blog h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.15em;
    text-align: inherit;
    padding: 10px 0;
}
.main_text_blog h6 a {
	text-decoration: none;
    color: #58a9dd;
}
.main_text_blog h6 a:hover {
	color: #2d2e33;
}
.main_text_blog p{
	font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.002em;
    text-align: left;
    color: #aaaaaa;
}
.main_image_blog img {
    max-width: 100%;
    padding: 10px 0;
}
.background_about_small {
    background-image: url(https://ld-wp.template-help.com/woocommerce_prod-16359/v2/wp-content/uploads/2018/04/image-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 18% 17%;
}
.company_about_desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: -0.002em;
    color: #aaaaaa;
    text-align: justify !important;
}
.background_about_small h3 {
    color: #58a9dd;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.33;
    font-family: Merriweather, serif;
    letter-spacing: 0.025em;
    text-align: inherit;
}
.special_functions {
    background-color: #f6f7fa;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px;
}
.exclusive_elements img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition: all 500ms ease; 
}
.newsletter_background {
    background: rgba(0,0,0,0.3);
    padding: 50px;
}


/*Slider text*/
.heading-4 {
    font-size: 22px;
    line-height: 1.5;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.context-dark, .context-dark h1, .context-dark h2, .context-dark h3, .context-dark h4, .context-dark h5, .context-dark h6, .context-dark [class^='heading-'] {
    color: #ffffff;
}
.box-typography {
    font-size: 64px;
    font-weight: 900;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
}
.box-typography-inner {
    display: block;
    letter-spacing: .1em;
}
.box-typography-inner:last-of-type {
    margin-top: 45px;
    line-height: .85;
}
.box-typography-inner {
    display: block;
    letter-spacing: .1em;
}
.box-typography + * {
    margin-top: 45px;
}
* + .button {
    margin-top: 40px;
}
.button-sm {
    padding: 2px 10px;
    font-size: 12px;
    line-height: 24px;
}

.button-primary, .button-primary:focus {
    color: #ffff !important;
    text-decoration: none !important;
    background-color: #ee9f9f;
    border-color: #ee9f9f !important;
}
.slider_button {
    display: inline-block;
    border: 2px solid;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0.06em;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: 250ms all ease-in-out;
    border-radius: 25px;
    text-decoration: none;
}
.section-sm, .section-md, .section-lg, .section-xl {
    padding: 50px 0;
}